* {
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .body-container {
    display: flex;
    justify-content: space-between;
  }
}
.left-navbar-menu-container {
  background-color: #e2e8f0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
@media screen and (min-width: 768px) {
  .left-navbar-menu-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.left-navbar-menu-heading {
  color: #475569;
  font-size: 20px;
  font-weight: 500;
}
.left-navbar-menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .left-navbar-menu-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.left-nav-item {
  color: #64748b;
  font-size: 20px;
  font-weight: 400;
  margin-right: 22px;
  margin-bottom: 22px;
}
.content-container {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 6px;
}
@media screen and (min-width: 768px) {
  .content-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.content-heading {
  color: #475569;
  font-size: 20px;
  font-weight: bold;
}
.content-paragraph {
  color: #64748b;
  font-size: 18px;
  font-weight: 400;
}
.right-navbar-menu-container {
  background-color: #e2e8f0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .right-navbar-menu-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.right-navbar-menu-heading {
  color: #475569;
  font-size: 20px;
  font-weight: 500;
}
.right-navbar-menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.right-nav-item {
  color: #64748b;
  font-size: 20px;
  font-weight: 500;
  margin-right: 22px;
  margin-bottom: 22px;
  border: 2px solid #64748b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 120px;
  height: 180px;
}
@media screen and (min-width: 768px) {
  .right-nav-item {
    height: 150px;
    width: 180px;
  }
}
